.footer_ul {
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
  
      :first-child {
        font-weight: 500;
        color: #2A2A2A;
      }
  
      li:not(:first-child):hover {
        color: #523BA3;
      }
    }
        a:hover {
          color: #523BA3;
    
        }
  }